{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Edit post
{%  endblock %}

{% block content %}
        <div class="jumbotron">
        <h3>Edit the fields you would like to update</h3>
            <form action="{% url 'edit_post' post.id%}" method="POST" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
{% endblock %}