{% extends "base.html" %}

{% block title %}
Welcome
{%  endblock %}

{% block content %}
        <div class="jumbotron">
            <div class="container">
                <h1>Datahill blog</h1>
                <p>Welcome to the Datahill.pl blog. You lookin' for a place to share your thoughts on data extraction? Havin' trouble sleeping at night before you consult your pipeline with a fellow data peer? You have come to the right place, baby! Feel free to scream out your spark-nightmares, we gonna love you anyway.</p>
            </div>
            <br><br>
        <img src="../static/img/hadoop.png" width="100%">

        </div>
{% endblock %}